*{
    font-family: 'Poppins', sans-serif;
}

#main-container {
    min-height: 100vh;
    width: 100%;
    padding: 50px;
    background-color: #AE90EA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index-footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #9e83d3;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

#registration-container {
    width: 60%;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-text {
    font-size: 20px;
    font-weight: 600;
}

#appointment-form {
    width: 90%;
}

#form-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

#name-lastname-container div {
    margin: 5px 0;
}

#date-container {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

#hour-selector {
    margin-top: 20px;
}

.submit-button {
    margin: 20px auto;
    padding: 15px;
    width: 250px;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #AE90EA;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.8);
    transition: .6s;
}

.submit-button:hover {
    background-color: #8a71bb;
}

.response-message {
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin: 5px;
    color: #4cd137;
    text-align: center;
}

#calendar-container {
    margin-top: 20px;
}

#calendar {
    width: 720px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.4);
    border-radius: 20px;
    font-size: 16px;
}

.month {
    width: 100%;
    height: 160px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    text-align: center;
    border-radius: 20px;
}

.month i {
    font-size: 40px;
    cursor: pointer;
}

.month h1 {
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 16px;
}

.month p {
    font-size: 26px;
}

.weekdays {
    width: 100%;
    height: 80px;
    padding: 0 7px;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: .1rem;
    width: calc(706px /7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: .2rem;
}

.days div {
    font-size: 22px;
    height: 40px;
    margin: .3rem;
    width: calc(643px / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s;
}

.days div:hover:not(.today) {
    background-color: #AE90EA;
    border: .2 rem solid #8a71bb;
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0.5;
}

.today {
    background-color: #AE90EA;
}