*{
    font-family: 'Poppins', sans-serif;
}

#main-container {
    min-height: 100vh;
    width: 100%;
    padding: 50px;
    background-color: #AE90EA;
}

#index-footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: #9e83d3;
    color: #fff;
    text-align: center;
    line-height: 70px;
}

#registration-container {
    width: 60%;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-text {
    font-size: 20px;
    font-weight: 600;
}

#appointment-form {
    width: 90%;
}

#form-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

#name-lastname-container div {
    margin: 5px 0;
}

#date-container {
    display: flex;
    flex-direction: column;
}

#hour-selector {
    margin-top: 20px;
}